In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("maaslar_yeni.txt.opdownload.csv")
df.head()

   Calisan ID             unvan  UnvanSeviyesi  Kidem  Puan  maas
0           1             Cayci              1      5    70  2250
1           2          Sekreter              2      5    70  2500
2           3  Uzman Yardimcisi              3      5    70  3000
3           4             Uzman              4      5    70  4000
4           5  Proje Yoneticisi              5      5    70  5500

In [8]:
x = df.iloc[:,2:3]
y = df.iloc[:,5:]
X = x.values
Y = y.values

In [9]:
y.head()

   maas
0  2250
1  2500
2  3000
3  4000
4  5500

In [10]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X,Y)

import statsmodels.api as sm
model = sm.OLS(lin_reg.predict(X),X)
print(model.fit().summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.942
Model:                            OLS   Adj. R-squared (uncentered):              0.940
Method:                 Least Squares   F-statistic:                              468.1
Date:                Wed, 27 Jul 2022   Prob (F-statistic):                    1.93e-19
Time:                        10:37:33   Log-Likelihood:                         -287.43
No. Observations:                  30   AIC:                                      576.9
Df Residuals:                      29   BIC:                                      578.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          2269.9134    104.919     21.635      0.000    2055.330    2484.497
==============================================================================
Omnibus:                        5.870   Durbin-Watson:                   0.600
Prob(Omnibus):                  0.053   Jarque-Bera (JB):                1.873
Skew:                          -0.000   Prob(JB):                        0.392
Kurtosis:                       1.776   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.