In [1]:
import pandas as pd

In [17]:
pika = pd.read_csv("Pokemon.csv",index_col="Name")

In [18]:
pika.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [19]:
len(pika)

800

In [20]:
pika.shape

(800, 12)

In [21]:
pika.dtypes

#              int64
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [22]:
pika.iloc[200]

#               185
Type 1         Rock
Type 2          NaN
Total           410
HP               70
Attack          100
Defense         115
Sp. Atk          30
Sp. Def          65
Speed            30
Generation        2
Legendary     False
Name: Sudowoodo, dtype: object

In [24]:
pika.loc["Pikachu"]

#                   25
Type 1        Electric
Type 2             NaN
Total              320
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: Pikachu, dtype: object

In [25]:
pika.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [27]:
pika.sort_values(by = "Attack",ascending=False ).head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True
HeracrossMega Heracross,214,Bug,Fighting,600,80,185,115,40,105,75,2,False
GroudonPrimal Groudon,383,Ground,Fire,770,100,180,160,150,90,90,3,True
RayquazaMega Rayquaza,384,Dragon,Flying,780,105,180,100,180,100,115,3,True
DeoxysAttack Forme,386,Psychic,NaN,600,50,180,20,180,20,150,3,True

In [28]:
pika.sort_values(by = ["Attack","HP"],ascending=False ).head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True
HeracrossMega Heracross,214,Bug,Fighting,600,80,185,115,40,105,75,2,False
RayquazaMega Rayquaza,384,Dragon,Flying,780,105,180,100,180,100,115,3,True
GroudonPrimal Groudon,383,Ground,Fire,770,100,180,160,150,90,90,3,True
DeoxysAttack Forme,386,Psychic,NaN,600,50,180,20,180,20,150,3,True

In [29]:
pika.sort_index().head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False

In [36]:
pika.loc["Kadabra"]

#                  64
Type 1        Psychic
Type 2            NaN
Total             400
HP                 40
Attack             35
Defense            30
Sp. Atk           120
Sp. Def            70
Speed             105
Generation          1
Legendary       False
Name: Kadabra, dtype: object

In [33]:
pika["Type 1"].head(10)

Name
Bulbasaur                    Grass
Ivysaur                      Grass
Venusaur                     Grass
VenusaurMega Venusaur        Grass
Charmander                    Fire
Charmeleon                    Fire
Charizard                     Fire
CharizardMega Charizard X     Fire
CharizardMega Charizard Y     Fire
Squirtle                     Water
Name: Type 1, dtype: object

In [34]:
pika[pika["Type 1"] == "Psychic"].head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Kadabra,64,Psychic,NaN,400,40,35,30,120,70,105,1,False
Alakazam,65,Psychic,NaN,500,55,50,45,135,95,120,1,False
AlakazamMega Alakazam,65,Psychic,NaN,590,55,50,65,175,95,150,1,False
Drowzee,96,Psychic,NaN,328,60,48,45,43,90,42,1,False

In [37]:
pokemon_psychic_ability = pika[pika["Type 1"] == "Psychic"]

In [38]:
pokemon_psychic_ability.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Kadabra,64,Psychic,NaN,400,40,35,30,120,70,105,1,False
Alakazam,65,Psychic,NaN,500,55,50,45,135,95,120,1,False
AlakazamMega Alakazam,65,Psychic,NaN,590,55,50,65,175,95,150,1,False
Drowzee,96,Psychic,NaN,328,60,48,45,43,90,42,1,False

In [39]:
pika_in_title = pika.index.str.lower().str.contains("chu")

In [41]:
pika[pika_in_title]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Pikachu,25,Electric,NaN,320,35,55,40,50,50,90,1,False
Raichu,26,Electric,NaN,485,60,90,55,90,80,110,1,False
Pichu,172,Electric,NaN,205,20,40,15,35,35,60,2,False
Smoochum,238,Ice,Psychic,305,45,30,15,85,65,65,2,False

In [44]:
types = pika.groupby("Type 1")

In [49]:
(types["Attack"].sum()/len(types["Attack"])).max()

461.3888888888889