In [1]:
import numpy as np

In [4]:
populasyon = np.random.randint(0,80,10000)

In [3]:
np.random.seed(115)

In [7]:
populasyon.mean()

39.6282

In [9]:
orneklem = np.random.choice(a = populasyon, size = 100)#10000 veri içinden 100 tanesini örneklem seçtik
orneklem.mean()

42.28

In [10]:
import seaborn as sns

In [11]:
tips = sns.load_dataset("tips")

In [12]:
df = tips.copy()

In [13]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [15]:
import researchpy as rp

In [17]:
rp.summary_cont(df[["total_bill","tip","size"]]) #sürekli değişimlerde kullanılır
#sadece sayısal değişkenlerde cont kullanılır

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [19]:
rp.summary_cat(df[["sex","smoker","day"]]) # sayısal olmayanlarda cat kullanılır
#sınıf frekansları çok rahat gözükür

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [25]:
df[["tip","total_bill"]].cov() # kovaryansı verir

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [26]:
df[["tip","total_bill"]].corr() # korelasyonu verir

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

In [27]:
#GUVEN ARALIĞI

In [28]:
# problem---> CEO fiyat belirleme konusunda bilimsel bir dayanak ve esneklik istiyor

In [29]:
import numpy as np

In [30]:
fiyatlar = np.random.randint(10,110,1000)

In [31]:
fiyatlar.mean()

57.585

In [32]:
import statsmodels.stats.api as sms

In [33]:
sms.DescrStatsW(fiyatlar).tconfint_mean() # %95 lik güven aralığı ile hangi değerler arasında olduğunu söyler

(55.74657773887036, 59.423422261129645)

In [7]:
from scipy.stats import bernoulli,binom

In [2]:
# BERNOULLI
p = 0.06
rv = bernoulli(p)
rv.pmf(k = 1)

0.06

In [5]:
p = 0.06
rv = bernoulli(p)
rv.pmf(k = 0)

0.9400000000000001

In [8]:
# BINOM
p = 0.01
n = 100
rv = binom(n,p)

In [9]:
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08